/* Wrapper for the card image */
.mahindra-card-img-wrapper {
    height: 200px; /* Fixed height for all screens */
    overflow: hidden;
}

.mahindra-card-img-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Card styling */
.mahindra-car-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px; /* Fixed height for uniformity */
    margin: 0 !important;
    padding: 0 !important;
    transition: transform 0.3s ease;
}

/* Card body styling */
.mahindra-card-body {
    flex-grow: 1;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
