.custom-img {
    width: 100%; /* Full width of the parent container (Carousel) */
    height: 100vh; /* Set height to 50% of the viewport height */
    object-fit: cover; /* Ensure the image scales while maintaining its aspect ratio */
}

@media (max-width: 768px) {
    .custom-img {
        height: 30vh; /* Reduce height for smaller screens */
    }
}

@media (max-width: 480px) {
    .custom-img {
        height: 20vh; /* Further reduce height for mobile screens */
    }
}

