footer {
    background-color: #212529;
    color: #ccc;
  }
  
  footer h5 {
    font-weight: 600;
    font-size: 1.2rem;
    color: #f8f9fa;
  }
  
  footer p {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }
  
  footer a {
    text-decoration: none;
    color: #adb5bd;
  }
  
  footer a:hover {
    color: #f8f9fa;
  }
  